
*{
  margin:0;
  padding:0;
  /* min-width: 300px; */

}
body{
  background-color: #D9D9D9;
  font-family:"Times New Roman";
  text-align: center;
}

#intro{
  font-size: 18px;
  margin-top:20px;
  text-align: center;
  background-color: inherit;

}

form{
  border: 3px solid black;
  background-image: linear-gradient(to left, #0E6CAD , #B7E9F7);
  border-radius: 25px;
  height:30%;
  max-height:400px;

}

#topBanner{
  background-color: ;
  background-image: linear-gradient(to right, #0E6CAD , #B7E9F7);
  height:125px;
  width:100%
}

h1{
  font-size: 48px;
  position: relative;
  top: 10px;
  text-decoration: underline;
  text-align: center;
  background-color: inherit;
}

label{
  display: block;

}

#AUDL_logo_form{
  position: relative;
  width:35%;
  margin-left: auto;
  margin-right: auto;
  opacity: 50%;
  padding-top: 10px;
  max-height: 200px;
  max-width: 200px;
  z-index: 0;

}

#ml_form{
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
  width:80%;
  max-height: inherit;

}

.team{
  width:20%;
  margin: 0 auto;
  padding: 10px;
  max-height: inherit;
  z-index: 1;

}

#home_team{
  position: relative;
  float:left;
  margin-left: 20px;
}

#away_team{
  position: relative;
  float:right;
  margin-right: 20px;

}
 .year_select{
  position: relative;
  margin-top: 4px;
  width: auto;
}

.team_select{
  width:150px;
  margin-top: 5px;
}

#hometeam{
  visibility: hidden;
  float:left;
  position: absolute;
  width:150;
  margin-left: -75px;
}

#awayteam{
  visibility: hidden;
  float:right;
  position: absolute;
  width:150;
  margin-left: -75px;
}
#modelSubmit{
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  width:20%;
  margin: 0 auto;
  max-width: 170px;
  min-width: 120px;
  max-height: inherit;
}
#modelType{
  position: relative;
  margin: 0 auto;
  width: 100%;

}

#resultHeader{
  text-decoration: underline;
}
#result{
  text-align: center;
  color: black;
  font-size: 18px;
  margin-top: 15px;
  margin 0 auto;
  background-color:  #B7E9F7;
  border: solid black;
  border-radius: 25px;
  line-height: 40px;
}


#submitButton{
  position:relative;
  margin-top: 25px;
  width:100%;
  font-size: 16px;

}


#statBox{
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  table-layout: auto;
  border-collapse: collapse;
  width:90%;
  height: 10%;
  font-size:14px;
}

table, th, td{
  border: 1px solid black;
}

td{
  min-width: 25px;
}

#statBox td, #statBox th {
  border: 1px solid black;
  padding: 2px;
}

#statBox tr{background-color: #f2f2f2;}

#statBox tr:hover {background-color: #ddd;}

#statBox th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

#cols{
  text-align: center;
}

.tooltip .tooltiptext{
  visibility: hidden;
  position: absolute;
  display:block;
  z-index: 1;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 3px;
  margin-top: -52px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.teamstat{
  text-align: center;
  border: 1px solid black;
  width:45%;
}

#homestat{
  width:100%;
}

#awaystat{
  width:100%;
}

#stathome{
  display: none;
}
#stataway{
  display: none;
}

#about_the_project{
  text-align:center;
  position:relative;
  margin-top: 100px;
  padding-left: 35px;
  padding-right:35px;
}


#AUDL_logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  opacity: 50%;
  width:50%;

}

footer{
  position: absolute;
  bottom:0px;
}
