
*{
  margin:0;
  padding:0;

}
body{
  background-color: #D9D9D9;
  font-family:"Times New Roman";
}

#intro{
  font-size: 18px;
  margin-top:20px;
  text-align: center;
  background-color: inherit;

}

form{
  border: 3px solid black;
  background-image: linear-gradient(to left, #0E6CAD , #B7E9F7);
  border-radius: 25px;
  height:30%;
  max-height:400px;

}

#topBanner{
  background-color: ;
  background-image: linear-gradient(to right, #0E6CAD , #B7E9F7);
  height:125px;
}

h1{
  font-size: 48px;
  position: relative;
  top: 10px;
  text-decoration: underline;
  text-align: center;
  background-color: inherit;
}

label{
  display: block;

}

#AUDL_logo_form{
  position: relative;
  width:35%;
  margin-left: auto;
  margin-right: auto;
  opacity: 50%;
  padding-top: 10px;
  max-height: 200px;
  max-width: 200px;
  z-index: 0;

}

#ml_form{
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
  width:80%;
  max-height: inherit;

}

.team{
  width:20%;
  margin: 0 auto;
  padding: 10px;
  max-height: inherit;
  z-index: 1;

}

#home_team{
  position: relative;
  float:left;
}

#away_team{
  position: relative;
  float:right;
}
 .year_select{
  position: relative;
  margin-top: 4px;
  width: auto;
}

.team_select{
  width:150px;
  margin-top: 5px;
}

#hometeam{
  visibility: hidden;
  float:left;
}

#awayteam{
  visibility: hidden;
  float:right;
}
#modelSubmit{
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  width:20%;
  margin: 0 auto;
  max-width: 170px;
  min-width: 120px;
  max-height: inherit;
}
#modelType{
  position: relative;
  margin: 0 auto;
  width: 100%;

}

#resultHeader{
  text-decoration: underline;
}
#result{
  text-align: center;
  color: black;
  font-size: 18px;
  margin-top: 15px;
  margin 0 auto;
  background-color:  #B7E9F7;
  border: solid black;
  border-radius: 25px;
  line-height: 40px;
}


#submitButton{
  position:relative;
  margin-top: 25px;
  width:100%;
  font-size: 16px;

}


#statBox{
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  width: 80%;
  height:200px;
  background-color: white;

}

.teamstat{
  text-align: center;
  border: 1px solid black;
  width:45%;
}

#homestat{
  background-color: red;
  width:100%;
}

#awaystat{
  background-color: green;
  width:100%;
}

#about_the_project{
  text-align:center;
  position:relative;
  margin-top: 100px;
  padding-left: 35px;
  padding-right:35px;
}


#AUDL_logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  opacity: 50%;
  width:50%;

}
