<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="The HTML5 Herald">
  <title>AUDL Machine Learning Predictor</title>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- <script type = "javascript" src = "./lib/jquery.js"></script> -->
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src = "{{url_for('static',filename='JS/teamsHtmls.js')}}"> </script>
  <script src = "{{url_for('static',filename='JS/select.js')}}"> </script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->
  <script src = "{{url_for('static',filename='JS/build_stats.js')}}"> </script>

</head>

<body>
  <div id = "topBanner" >
  <h1>AUDL Game Predictor</h1>
  <p id="intro"> An Implementation of Machine Learning Algorithms to Predict Hypothetical AUDL Games</p>

  </div>

         <!-- Main Input For Receiving Query to our ML -->
    <div id = "ml_form">
      <form action="{{ url_for('predict')}}" method="post">

        <div id="selecting" >

        <!-- Home Team -->
        <div  class="team" id="home_team">
        <label for = "homeYear"> Home Team:</label>
        <select name = "homeYear" id = "year_select_home" class="year_select" required>
        <option value="" selected disabled hidden>
          Select Year
        </option>
          <option value = 19>2019</option>
          <option value = 18>2018</option>
          <option value = 17>2017</option>
          <option value = 16>2016</option>
          <option value = 15>2015</option>
          <option value = 14>2014</option>
          <option value = 13>2013</option>
          <option value = 12>2012</option>
          </select>

        <label for = "hometeam"></label>

        <select name = "homeTeam" id = "hometeam" class = "team_select"  required>
          <option value="" selected disabled hidden>
            Select Team:
          </option>
          </select>
          </div>

      <img id = "AUDL_logo_form" src = "{{ url_for('static', filename='images/AUDL_logo.jpeg')}}" >

      <!-- Away team -->
      <div class="team" id="away_team">
      <label for="awayYear"> Away team:</label>
      <select name = "awayYear" id="year_select_away" class="year_select"  required>
          <option value="" selected disabled hidden>
            Select Year
          </option>
          <option value = 19>2019</option>
          <option value = 18>2018</option>
          <option value = 17>2017</option>
          <option value = 16>2016</option>
          <option value = 15>2015</option>
          <option value = 14>2014</option>
          <option value = 13>2013</option>
          <option value = 12>2012</option>
        </select>

        <label for="awayteam"></label>
        <select name = "awayTeam" id = "awayteam" class = "team_select" required>
          <option value="" selected disabled hidden>
            Select Team:
          </option>
          </select>
        </div>
      </div>

      <div id="modelSubmit">
        <select name="modelType" id="modelType" required>
          <option value="" selected disabled hidden>Select ML Model:</option>
          <option value = "lr">Linear Regression</option>
          <option value="clf">NN Classifier</option>
          <option value="rfe">RFE</option>

      <input id="submitButton" type = "submit">
        </div>

      </form>

      <div id="result">
        <h2 id="resultHeader"> Result:</h2>
        {{matchup}}
        <br>
        {{prediction_text}}
        </div>
   </div>

   <p id="stathome">{{home_stat}}</p>
   <p id="stataway">{{away_stat}}</p>

   <table id="statBox">
     <tr id="cols"></tr>

     <tr id="homestat" class="teamstat"></tr>

     <tr id="awaystat" class="teamstat"></tr>

   </table>


   <div id = "about_the_project" >
     <h2>About the Project: </h2>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

     </div>

  </body>
</html>
